*{
    padding: 0;
    margin: 0;
}

body{
    background-color: gray;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.asides{
    background: #675E5E;
    width: 26%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: solid #252525;
}

.seta-aside{
    width: 29px;
    height: 44px;
}

.conteudo-aside{
    width: 80%; /* 20% para a seta */
    padding: 10px; 
}

.img{  /* img dos bt, bt excluir, bt cima e bt baixo */
    width: 100%;
}

.progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    padding: 20px;
    opacity: 0.7;
  }
  .progress-bar {
    position: relative;
    width: 70%;
    height: 5px;
    background-color: #eee;
    vertical-align: 2px;
    border-radius: 3px;
    cursor: pointer;
  }
  .now {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 5px;
    background: #000000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .now::after { /* circulo da barra de progresso */ 
    content: '';
    position: absolute;
    left: 100%;
    top: -40%;
    
    width: 9px;
    height: 9px;

    background-image: url(../img/circulo.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
.progress:hover{
    opacity: 1;
}

#caixa-main{
    display: flex;
    justify-content: center;
    width: 40%;

    border-top: solid #252525;
    border-bottom: solid #252525;
}

#musica{
    width: 300px;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nome-msc{
    margin-top: 4%;
}

#caixa-img{
    height: 400px;
    width: 400px;
    margin-top: -13%; 
}

#img-musica{
    width: 100%;
    height: 100%;
}

#opcoes-musica{
    margin-top: -41px;
}


#stop-musica{
    display: none;
}


#img-bt-music{
    width: 50px;
    margin-left: 1vh;
}


#volume-barra{
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #1d1c1c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 6%;
}

#volume-barra:hover{
    opacity: 1;
}

#volume-barra::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 35px;
    border: 0;
    cursor: pointer;
    background: url('../img/ponteiro.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#volume-barra::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('../img/ponteiro.png');
    cursor: pointer;
}

#opcao-adicional{
    margin: 0;
    margin-left: 2vh;
}